

#portifolio{
  scroll-margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  font-family: var(--fonte-m);
  color: var(--cor-principal);
  max-width: 100%;
}
.portifolio_title{
  font-size: 48px;
  font-weight: 300;
}

.portifolio_photos{
  display: flex;
  flex-direction: row;
  gap: 100px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
}

.portifolio_photos img{
  width: 350px;
  border-radius: 15px;
}

@media (width <= 403px){
  .portifolio_photos img{
    width: 70%;
  }
}

