<section id="portifolio">
  <h2 class="portifolio_title">Portifólio</h2>
  <div class="portifolio_photos">
    <img class="img-port" src="/assets/modelo1.png">
    <img class="img-port" src="/assets/modelo2.png">
    <img class="img-port-invert" src="/assets/modelo3.png">
    <img class="img-port-invert" src="/assets/modelo4.png">
    <img class="img-port" src="/assets/modelo5.png">
    <img class="img-port" src="/assets/modelo6.png">
    <img class="img-port-invert" src="/assets/modelo7.png">
    <img class="img-port-invert" src="/assets/modelo8.png">
  </div>
</section>
