<section class="about" id="sobre">
  <img src="/assets/Luminous.png" class="logo_inicio">
  <p class="text_about">A escolha do nome "Luminous" é inspirado por uma experiência divina, entendemos que nossa luz deve brilhar para que todos a vejam, conforme <a href="#contatos">Isaías 60:1</a>. Esse nome representa o esforço, a dedicação e o amor que colocamos em tudo o que fazemos, refletindo a missão de iluminar a beleza de cada cliente.
    Nosso mantra é entregar resultados incomparáveis, e esse compromisso está enraizado em nossa essência. No Luminous Studio, nosso propósito é transformar sonhos em estilos únicos, guiados por uma paixão genuína por cada transformação de cliente, que reforça que estamos no caminho certo.</p>
</section>
