<footer>
  <section id="contatos">

    <img class="footer_logo" src="/assets/logoFooter.png">

      <div class="divisoria"></div>

        <div class="footer_text">
          <h2>Que seu rosto brilhe de alegria pois sobre você reluz a glória do Senhor!
            <br>Isaías 60:1</h2>
          <a href="https://www.instagram.com/studioluminousbeauty/">&#64;studioluminousbeauty</a>
        </div>

        <div class="footer_insta">
          <a href="https://www.instagram.com/arianelagemakeup/" target="_blank" class="footer_itens">&#64;arianelagemakeup</a>
          <a href="https://www.instagram.com/deboraguerrapenteados/" target="_blank" class="footer_itens">&#64;deboraguerrapenteados</a>
          <a href="https://www.instagram.com/galantis.studio/" target="_blank" class="footer_itens">&#64;galantis.studio</a>
          <a href="https://www.instagram.com/larissasg.nails/" target="_blank" class="footer_itens">&#64;larissasg.nails</a>
        </div>

        <div class="footer_numbers">
          <a href="https://wa.me/31995660843" target="_blank" class="footer_itens">(31) 99566-0843</a>
          <a href="https://wa.me/31999396773" target="_blank" class="footer_itens">(31) 99939-6773</a>
          <a href="https://wa.me/31997004046" target="_blank" class="footer_itens">(31) 99700-4046</a>
          <a href="https://wa.me/3196143723" target="_blank" class="footer_itens">(31) 99614-3723</a>
        </div>
  </section>
  <p>Desenvolvido por Erick Guerra</p>
</footer>
