<section class="services" id="servicos">
  <h2 class="service_title">Serviços</h2>
  <p class="service_text">Na Luminous Beauty Studio’s tem uma diversidade de serviços para o cuidado e embelezamento da MULHER!</p>
    <div class="services_solo">
      <img class="solo_foto" src="/assets/ariane.png">
      <div class="services_solo_text">
        <div class="solo_title">
          <h2 class="solo_name">Ariane Lage</h2>
          <h3 class="solo_type">Makeup Artist</h3>
        </div>
          <p class="solo_text">Sou especialista em maquiagem Beauty, dedicada a realçar a beleza única de cada cliente com excelência e sofisticação. Cada rosto é uma tela única , e meu objetivo é destacar o seu melhor.</p>
        <div class="services_solo_botoes">
          <a href="https://wa.me/31995660843" target="_blank"><img src="/assets/wpp.png"></a>
          <a href="https://www.instagram.com/arianelagemakeup/" target="_blank"><img src="/assets/insta.png"></a>
        </div>
      </div>
    </div>
    <div class="services_solo invert">
      <div class="services_solo_text">
        <div class="solo_title">
          <h2 class="solo_name">Débora Guerra</h2>
          <h3 class="solo_type">Hair Style</h3>
        </div>
          <p class="solo_text">Trabalho com Penteados, cortes, escovas e terapia capilar integrativa, oferecendo um cuidado completo.
            Meu objetivo é proporcionar um atendimento personalizado, realçando a sua beleza individual.</p>
        <div class="services_solo_botoes_inv">
          <a href="https://wa.me/31999396773" target="_blank"><img src="/assets/wpp.png"></a>
          <a href="https://www.instagram.com/deboraguerrapenteados/" target="_blank"><img src="/assets/insta.png"></a>
        </div>
      </div>
      <img class="solo_foto" src="/assets/debora.png">
    </div>
    <div class="services_solo">
      <img class="solo_foto" src="/assets/julio.png">
      <div class="services_solo_text">
        <div class="solo_title">
          <h2 class="solo_name">Julio</h2>
          <h3 class="solo_type">Photographer</h3>
        </div>
          <p class="solo_text">Meu foco é entregar imagens de qualidade excepcional que capturam a essência desejada. Com pacotes personalizados para atender a necessidade específicas de cada cliente, seja para uso pessoal ou comercial.</p>
        <div class="services_solo_botoes">
          <a href="https://wa.me/31997004046" target="_blank"><img src="/assets/wpp.png"></a>
          <a href="https://www.instagram.com/galantis.studio/" target="_blank"><img src="/assets/insta.png"></a>
        </div>
      </div>
    </div>
    <div class="services_solo invert">
      <div class="services_solo_text">
        <div class="solo_title">
          <h2 class="solo_name">Larissa</h2>
          <h3 class="solo_type">Nail Design</h3>
        </div>
          <p class="solo_text">Ofereço serviços de alta qualidade para realçar a beleza das minhas clientes, as unhas são essenciais na aparência e proporcionam um momento de relaxamento e cuidado pessoal, com produtos premium.</p>
        <div class="services_solo_botoes_inv">
          <a href="https://wa.me/3196143723" target="_blank"><img src="/assets/wpp.png"></a>
          <a href="https://www.instagram.com/larissasg.nails/" target="_blank"><img src="/assets/insta.png"></a>
        </div>
      </div>
      <img class="solo_foto" src="/assets/larissa.png">
    </div>
</section>

